{% extends 'base.html' %}

{% block content %}
{% load static %}
<div class="container mt-1 mb-1" style="width: 70%; background-color: #2FACAE; padding: 20px; border-radius: 10px">
    <div class="row mb-3">
        <div class="logo-container">
            <img
                    src="{% static 'logo.png' %}"
                    alt="Hi Platform"
                    width="150"
            >
        </div>
    </div>
    {% if not user.is_authenticated %}
        <div class="row justify-content-center">
            <div class="col-md-5 mb-1 align-self-center text-center">
                <h5>Atenção!</h5>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-5 mb-2 align-self-center text-center">
                <h5>Você não está <strong>logado!</strong></h5>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-5 mb-2 align-self-center text-center">
                <p>Para realizar o login: <a href="{% url 'users:login' %}">Clique aqui!</a></p>
            </div>
        </div>
    {% else %}
        {% if quantidade_datas == 0 %}
            <div class="row justify-content-center">
                <div class="col-md-5 mb-2 align-self-center text-center">
                    <h5>Ainda não há datas cadastradas</h5>
                </div>
            </div>
        {% else %}
            <div class="row justify-content-center">
                <div class="col-md-5 mb-2 align-self-center text-center">
                    <h5>Clique em uma data para editá-la:</h5>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-5 mb-2 overflow-auto" style="max-height: 210px">
                    <table class="table table-sm table-striped table-primary table-hover table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Data</th>
                                <th scope="col">Descrição</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for data in listar_datas %}
                            <tr onclick="window.location='{% url 'datas:editar_feriados' data.pk %}';">
                                <th scope="row">{{ data.data| date:"d/m/Y" }}</th>
                                <td>{{ data.description }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endif %}
        <div class="row justify-content-center">
            <div class="col-md-5 mb-2">
                <div class="row justify-content-center">
                    <div class="row md-6 mb-2 justify-content-center">
                        <a href="{% url 'datas:cadastrar_feriados' %}" class="btn btn-secondary text-white" style="width: 380px">Cadastrar feriados</a>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="row md-6 mb-2 justify-content-center">
                        <a href="{% url 'datas:selecionar_feriados' %}" class="btn btn-secondary text-white" style="width: 380px">Deletar feriados</a>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="row md-6 mb-2 justify-content-center">
                        <code id="curlCode">
                            curl -X POST -H "Content-Type: application/json" -d '{ "token": "9d4c6ba9-dd10-4c95-9424-49b4a38e4a4e", "data_atual": "24/09/2023" }' http://localhost:5000/api/check_feriado
                        </code>
                    </div>
                    <div class="row md-6 mb-2 justify-content-center">
                        <button class="btn btn-secondary text-white" onclick="copiarCurl('curlCode')" style="width: 380px">Copiar cURL</button>
                    </div>
                    <script>
                        function copiarCurl(id) {
                            var curlCode = document.getElementById(id);
                            var textoCurl = curlCode.innerText;

                            navigator.clipboard.writeText(textoCurl).then(function() {
                                alert('cURL copiada com sucesso!');
                            }, function() {
                                alert('Erro ao copiar a cURL.');
                            });
                        }
                    </script>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-5 mb-0 align-self-center text-center">
                <p class="fw-medium" style="font-size: 12.5px">Token: {{ user.token }}</p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-5 mb-0 align-self-center text-center">
                <p class="fw-medium" style="font-size: 12.5px">E-mail: {{ user.email }}</p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-5 mb-2 align-self-center text-center" style="font-size: 12.5px">
                <p class="fw-medium">Deseja trocar de usuário? <a href="{% url 'logout' %}">Clique aqui!</a></p>
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}