{% extends 'base.html' %}

{% block content %}
{% load static %}
<div class="container mt-1 mb-1" style="width: 60%; background-color: #2FACAE; padding: 20px; border-radius: 10px">
    <div class="row mb-3">
        <div class="logo-container">
            <img
                    src="{% static 'logo.png' %}"
                    alt="Hi Platform"
                    width="150"
            >
        </div>
    </div>
    {% if not user.is_authenticated %}
        <div class="row justify-content-center">
            <div class="col-md-5 mb-1 align-self-center text-center">
                <h4>Atenção!</h4>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-5 mb-2 align-self-center text-center">
                <h4>Você não está <strong>logado!</strong></h4>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-5 mb-2 align-self-center text-center">
                <p>Para realizar o login: <a href="{% url 'login' %}">Clique aqui!</a></p>
            </div>
        </div>
    {% else %}
        <div class="row justify-content-center">
            <div class="col-md-5 mb-2 align-self-center text-center">
                <h5>Cadastre seu feriado</h5>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-5 mb-2">
                <form action="" method="POST">
                    {% csrf_token %}
                        <div class="mb-2">
                            <label for="inputData" class="form-label fw-medium text-white">Data</label>
                            <input
                                    type="date"
                                    name="data"
                                    class="form-control rounded-3"
                                    id="inputData"
                                    required
                            >
                        </div>
                        <div class="mb-3">
                            <label for="inputDescription" class="form-label fw-medium text-white">Descrição</label>
                            <input
                                    type="text"
                                    name="description"
                                    class="form-control rounded-3"
                                    id="inputDescription"
                                    placeholder="Descreva este feriado"
                                    required
                            >
                        </div>
                        <div class="row justify-content-center">
                            <div class="row md-6 mb-4 justify-content-center">
                                <button type="submit" class="btn btn-secondary text-white" style="width: 350px">Cadastrar</button>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col md-6 mb-0 align-self-center text-center">
                                <a href="{% url 'users:index' %}">Início</a>
                            </div>
                        </div>
                        <script>
                            document.addEventListener("DOMContentLoaded", function() {
                                const notificationDiv = document.querySelector(".notification");
                                if (notificationDiv) {
                                    const notificationMessage = notificationDiv.querySelector(".notification-message");
                                    if (notificationMessage) {
                                        setTimeout(function() {
                                            notificationMessage.style.display = "none";
                                        }, 3000);
                                    }
                                }
                            });
                        </script>
                        <div class="row justify-content-center">
                            <div class="notification align-self-center text-center text-white">
                                {% if messages %}
                                    {% for message in messages %}
                                        <p class="notification-message">{{ message }}</p>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                </form>
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}